<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>主机管理系统用户端_修改主机信息</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/box/css/bootstrap.css" rel="stylesheet">
    <link href="/static/box/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/box/css/stylesheet.css" rel="stylesheet">
    <link href="/static/box/css/index.css" rel="stylesheet">
    <link href="/static/box/icon/font-awesome.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">



    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/box/img/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/box/img/apple-touch-icon-114-precomposed.html">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/box/img/apple-touch-icon-72-precomposed.html">
                    <link rel="apple-touch-icon-precomposed" href="/static/box/img/apple-touch-icon-57-precomposed.html">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>


    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                           <span>
                               <a class="btn" href="{% url 'home' %}">首页</a>
                           </span><span>></span>

                           <span><a href="{%url 'chakan'%}"></a>我的主机</span>
{#                           <a  href="{%url 'add'%}" class="label label-warning" style="float:right; margin:8px;">添加</a>#}
                         </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
             {% for foo in computer %}
                 <form class="form-horizontal">
                     <div class="form-group">
                        <label class="col-sm-2 control-label">主机</label>
                         <div class="col-sm-10">
                           <p class="form-control-static">{{foo.computername }}</p>
                         </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">内存</label>
                         <div class="col-sm-10">
                           <p class="form-control-static"></p>
                         </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                         <div class="col-sm-10">
                           <p class="form-control-static">{{foo.state }}</p>
                         </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">创建时间</label>
                         <div class="col-sm-10">
                           <p class="form-control-static">{{foo.created_at }}</p>
                         </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">当前用户</label>
                         <div class="col-sm-10">
                           <p class="form-control-static">{{foo.user }}</p>
                         </div>
                     </div>
                 </form>
                 <center>
                         <a href="{% url 'cp_update' %}">
                         <button  class="btn-primary" >修改主机信息</button>
                         </a>
                         <a href="/cp_delete/{{ foo.id }}/">
                         <button  class="btn-primary" >删除主机</button>
                         </a>
                 </center>
             {% endfor %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/box/js/jquery-1.10.2.js"></script>
    <script src="/static/box/js/jquery-ui-1.10.3.js"></script>
    <script src="/static/box/js/bootstrap.js"></script>

    <script src="/static/box/js/library/jquery.dataTables.js"></script>

    <script src="/static/box/js/flatpoint_core.js"></script>

    <script src="/static/box/js/datatables.js"></script>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>