<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>主机管理系统用户端_主页</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
{#    <div class="navbar-header">#}
{#      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#        <span class="sr-only">Toggle navigation</span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#      </button>#}
{#      <a class="navbar-brand" href="#">Brand</a>#}
{#    </div>#}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">首页</a></li>
        <li><a href="{% url 'host_management' %}">我的主机<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'user_management' %}">我的个人信息</a></li>
      </ul>
{#      <form class="navbar-form navbar-left">#}
{#        <div class="form-group">#}
{#          <input type="text" class="form-control" placeholder="Search">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default">快速查找</button>#}
{#      </form>#}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">退出登录<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../static/img/home1.png" alt="...">
      <div class="caption">
        <h3>windows7</h3>
        <p>Windows 7 的设计主要围绕五个重点——针对笔记本电脑的特有设计；基于应用服务的设计；用户的个性化；视听娱乐的优化；用户易用性的新引擎。 跳跃列表，系统故障快速修复等，这些新功能令Windows 7成为最易用的Windows。</p>
      </div>
    </div>
  </div>

          <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../static/img/vb.png" alt="...">
      <div class="caption">
        <h3>virtualBox</h3>
        <p>VirtualBox 是一款开源虚拟机软件。VirtualBox 是由德国 Innotek 公司开发，在 Sun 被 Oracle 收购后正式更名成 Oracle VM VirtualBox。Innotek 以 GNU General Public License (GPL) 释出 VirtualBox，并提供二进制版本及 OSE 版本的代码。</p>
      </div>
    </div>
  </div>

          <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../static/img/py.png" alt="...">
      <div class="caption">
        <h3>PyCharm</h3>
        <p>PyCharm是一种Python IDE，带有一整套可以帮助用户在使用Python语言开发时提高其效率的工具，比如调试、语法高亮、Project管理、代码跳转、单元测试、版本控制。此外，该IDE提供了一些高级功能，以用于支持Django框架下的专业Web开发。</p>
      </div>
    </div>
  </div>


</div>
    <div class="jumbotron" style="padding: 0px 15px 0px 15px; margin-bottom: 0px;">
{#  <h2>电子科技大学成都学院</h2>#}
{#   <h3>云计算科学与技术系</h3>#}
  <p style="margin-top: 0px;">网站信息：</p>
      <p style="font-size: 12px;">开发框架：Django</p>
              <p style="font-size: 12px;">设计模式：基于Django的MVC设计模式</p>
                      <p style="font-size: 12px;">开发系统：Windows 10</p>
              <p style="font-size: 12px;">当前版本：mysystem 1.0</p>

</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>