<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>新增主机</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/box/css/bootstrap.css" rel="stylesheet">
    <link href="/static/box/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/box/css/stylesheet.css" rel="stylesheet">
    <link href="/static/box/css/index.css" rel="stylesheet">
    <link href="/static/box/icon/font-awesome.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/box/img/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/box/img/apple-touch-icon-114-precomposed.html">
      <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/box/img/apple-touch-icon-72-precomposed.html">
                    <link rel="apple-touch-icon-precomposed" href="/static/box/img/apple-touch-icon-57-precomposed.html">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body  style="background-color:#FFF !important; margin:20px;">

<form>
<div>

  <!-- Nav tabs -->
<h4>1.选择系统</h4>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Windows" aria-controls="home" role="tab" data-toggle="tab">Windows</a></li>
{#    <li role="presentation"><a href="#x86" aria-controls="profile" role="tab" data-toggle="tab">x86</a></li>#}
{#    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>#}
{#    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>#}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Windows">

        <a href="" class="bgbtn01 btn" style="width: 260px;height: 114px">
         <span style="float: left;"><img src="/static/box/img/new/Windows.jpg" style="width: 100px;height: 100px;"/></span>
         <span style="float: left;">
             <ul style="list-style: none; text-align: left; margin: 35px 40px 0px 0px;">
            <li style="font-weight: bold">Windows 7</li>
            <li>64-bit</li>
             </ul>
         </span>
       </a>

        <a href="" class="bgbtn01 btn" style="width: 260px;height: 114px">
         <span style="float: left;"><img src="/static/box/img/new/Windows.jpg" style="width: 100px;height: 100px;"/></span>
         <span style="float: left;">
             <ul style="list-style: none; text-align: left; margin: 35px 40px 0px 0px;">
            <li style="font-weight: bold">Windows 7</li>
            <li>32-bit</li>
             </ul>
         </span>
       </a>

{#        <a href="" class="bgbtn02 btn" style="width: 260px;height: 114px">#}
{#        <span style="float: left;"><img src="/static/box/img/new/ubuntu.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li style="font-weight: bold">Ubuntu</li>#}
{#            <li>64-bit</li>#}
{#             </ul>#}
{#         </span>#}
{#       </a>#}

{#        <a href="" class="bgbtn03 btn" style="width: 260px;height: 114px">#}
{#        <span style="float: left;"><img src="/static/box/img/new/mac_os.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li style="font-weight: bold">Mac_OS</li>#}
{#            <li>X 64-bit</li>#}
{#             </ul>#}
{#         </span>#}
{#       </a><br>#}
{#        <div style="height: 5px;width: 100%;"></div>#}

{#        <a href="" class="bgbtn04 btn" style="width: 260px;height: 114px">#}
{#        <span style="float: left;"><img src="/static/box/img/new/BSD.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li style="font-weight: bold">BSD</li>#}
{#            <li>FreeBSD 64-bit</li>#}
{#             </ul>#}
{#         </span>#}
{#       </a>#}

{#        <a href="" class="bgbtn05 btn">#}
{#        <span style="float: left;"><img src="/static/box/img/new/IBM.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li>IBM OS/2</li>#}
{#            <li>1111</li>#}
{#             </ul>#}
{#         </span>#}
{#       </a>#}

{#        <a href="" class="bgbtn05 btn" style="width: 260px;height: 114px">#}
{#        <span style="float: left;"><img src="/static/box/img/new/Solaris.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li style="font-weight: bold">Oracle Solaris</li>#}
{#            <li>10/9 and later(64-bit)</li>#}
{#        </ul>#}
{#         </span>#}
{#       </a>#}


    </div>


{#    <div role="tabpanel" class="tab-pane" id="x86">#}
{#        <a href="" class="bgbtn01 btn" style="width: 260px;height: 114px">#}
{#         <span style="float: left;"><img src="/static/box/img/new/Windows.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 40px 0px 0px;">#}
{#            <li style="font-weight: bold">Windows 7</li>#}
{#            <li>32-bit</li>#}
{#             </ul>#}
{#         </span>#}
{#       </a>#}
{##}
{#        <a href="" class="bgbtn02 btn" style="width: 260px;height: 114px">#}
{#        <span style="float: left;"><img src="/static/box/img/new/ubuntu.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li style="font-weight: bold">Ubuntu</li>#}
{#            <li>32-bit</li>#}
{#             </ul>#}
{#         </span>#}
{#       </a>#}
{##}
{#        <a href="" class="bgbtn03 btn" style="width: 260px;height: 114px">#}
{#        <span style="float: left;"><img src="/static/box/img/new/mac_os.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li style="font-weight: bold">Mac_OS</li>#}
{#            <li>X 32-bit</li>#}
{#             </ul>#}
{#         </span>#}
{#       </a><br>#}
{#        <div style="height: 5px;width: 100%;"></div>#}
{##}
{#        <a href="" class="bgbtn04 btn" style="width: 260px;height: 114px">#}
{#        <span style="float: left;"><img src="/static/box/img/new/BSD.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li style="font-weight: bold">BSD</li>#}
{#            <li>FreeBSD 32-bit</li>#}
{#             </ul>#}
{#         </span>#}
{#       </a>#}

{#        <a href="" class="bgbtn05 btn">#}
{#        <span style="float: left;"><img src="/static/box/img/new/IBM.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li>IBM OS/2</li>#}
{#            <li>1111</li>#}
{#             </ul>#}
{#         </span>#}
{#       </a>#}

{#        <a href="" class="bgbtn05 btn" style="width: 260px;height: 114px">#}
{#        <span style="float: left;"><img src="/static/box/img/new/Solaris.jpg" style="width: 100px;height: 100px;"/></span>#}
{#         <span style="float: left;">#}
{#             <ul style="list-style: none; text-align: left; margin: 35px 0px 0px 0px;">#}
{#            <li style="font-weight: bold">Oracle Solaris</li>#}
{#            <li>10/9 and later(32-bit)</li>#}
{#        </ul>#}
{#         </span>#}
{#       </a>#}
    </div>
{#    <div role="tabpanel" class="tab-pane" id="messages">.3.</div>#}
{#    <div role="tabpanel" class="tab-pane" id="settings">.4.</div>#}
  </div>

</div>


  <div class="form-group">
    <label for="user">
        <h4>2.用户名</h4>
    </label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="hostname">
        <h4>3.主机名</h4>
    </label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn-block">保存</button>
</form>



{#                        <div class="well brown">#}
{#                         <form action="#">#}
{#                            <div class="form_list"><label class="lable_title">主&nbsp;&nbsp;机&nbsp;&nbsp;ID</label><input class="form_input" type="text"/></div>#}
{#                            <div class="form_list"><label class="lable_title">用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户</label><input class="form_input" type="text"/></div>#}
{#                            <div class="form_list"><label class="lable_title">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex">&nbsp;&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex">&nbsp;&nbsp;女</div>#}
{#                            <div class="form_list"><label class="lable_title">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label><input class="form_input" type="text"/></div>#}
{#                             <div class="form_list"><label class="lable_title">用户类型</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="yonghu">&nbsp;&nbsp;普通用户&nbsp;&nbsp;<input type="radio" name="yonghu">&nbsp;&nbsp;管理员</div>#}
{#                            <div class="form_list"><label class="lable_title">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="zhuangtai">&nbsp;&nbsp;启用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="zhuangtai">&nbsp;&nbsp;禁用</div>#}
{#                            <div class="form_list"><label class="lable_title">排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序</label><input class="form_input" type="text"/></div>#}
{#                            <div class="form_list"><input type="submit" class="submit" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;"></div>#}
{#                         </form>#}
{##}
{##}
{#                        </div>#}


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="/static/box/js/jquery-1.10.2.js"></script>
    <script src="/static/box/js/jquery-ui-1.10.3.js"></script>
    <script src="/static/box/js/bootstrap.js"></script>

    <script src="/static/box/js/flatpoint_core.js"></script>

  </body>
</html>
