<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主机管理系统用户端_个人信息</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
     <link href="/static/box/css/bootstrap.css" rel="stylesheet">
    <link href="/static/box/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/box/css/stylesheet.css" rel="stylesheet">
    <link href="/static/box/css/index.css" rel="stylesheet">
    <link href="/static/box/icon/font-awesome.css" rel="stylesheet">

      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/box/img/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/box/img/apple-touch-icon-114-precomposed.html">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/box/img/apple-touch-icon-72-precomposed.html">
      <link rel="apple-touch-icon-precomposed" href="/static/box/img/apple-touch-icon-57-precomposed.html">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>




<body>


    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                           <span>
                               <a class="btn" href="{% url 'home' %}">首页</a>
                           </span><span>></span>

                           <span><a href="{%url 'chakan'%}"></a>个人资料</span>
                             <h3>{{success}}</h3>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% for foo in user %}
               <form class="form-horizontal">
                     <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                         <div class="col-sm-10">
                           <p class="form-control-static">{{foo.username }}</p>
                         </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                         <div class="col-sm-10">
                           <p class="form-control-static">{{foo.sex }}</p>
                         </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">密码</label>
                         <div class="col-sm-10">
                           <p class="form-control-static">{{foo.password }}</p>
                         </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">创建时间</label>
                         <div class="col-sm-10">
                           <p class="form-control-static">{{foo.created_at }}</p>
                         </div>
                     </div>
               </form>
                 <center>
                         <a href="{% url 'home' %}">
                         <button  class="btn-primary" >返回</button>
                         </a>
{#                         <a href="/user_delete/{{ foo.id }}/">#}
{#                         <button  class="btn-primary" >删除主机</button>#}
{#                         </a>#}
                 </center>
{% endfor %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/box/js/jquery-1.10.2.js"></script>
    <script src="/static/box/js/jquery-ui-1.10.3.js"></script>
    <script src="/static/box/js/bootstrap.js"></script>

    <script src="/static/box/js/library/jquery.collapsible.min.js"></script>
    <script src="/static/box/js/library/jquery.mCustomScrollbar.min.js"></script>
    <script src="/static/box/js/library/jquery.mousewheel.min.js"></script>
    <script src="/static/box/js/library/jquery.uniform.min.js"></script>


    <script src="/static/box/js/library/jquery.sparkline.min.js"></script>
    <script src="/static/box/js/library/chosen.jquery.min.js"></script>
    <script src="/static/box/js/library/jquery.easytabs.js"></script>
    <script src="/static/box/js/library/flot/excanvas.min.js"></script>
    <script src="/static/box/js/library/flot/jquery.flot.js"></script>
    <script src="/static/box/js/library/flot/jquery.flot.pie.js"></script>
    <script src="/static/box/js/library/flot/jquery.flot.selection.js"></script>
    <script src="/static/box/js/library/flot/jquery.flot.resize.js"></script>
    <script src="/static/box/js/library/flot/jquery.flot.orderBars.js"></script>
    <script src="/static/box/js/library/maps/jquery.vmap.js"></script>
    <script src="/static/box/js/library/maps/maps/jquery.vmap.world.js"></script>
    <script src="/static/box/js/library/maps/data/jquery.vmap.sampledata.js"></script>
    <script src="/static/box/js/library/jquery.autosize-min.js"></script>
    <script src="/static/box/js/library/charCount.js"></script>
    <script src="/static/box/js/library/jquery.minicolors.js"></script>
    <script src="/static/box/js/library/jquery.tagsinput.js"></script>
    <script src="/static/box/js/library/fullcalendar.min.js"></script>
    <script src="/static/box/js/library/footable/footable.js"></script>
    <script src="/static/box/js/library/footable/data-generator.js"></script>

    <script src="/static/box/js/library/bootstrap-datetimepicker.js"></script>
    <script src="/static/box/js/library/bootstrap-timepicker.js"></script>
    <script src="/static/box/js/library/bootstrap-datepicker.js"></script>
    <script src="/static/box/js/library/bootstrap-fileupload.js"></script>
    <script src="/static/box/js/library/jquery.inputmask.bundle.js"></script>

    <script src="/static/box/js/library/jquery.dataTables.js"></script>

    <script src="/static/box/js/flatpoint_core.js"></script>

    <script src="/static/box/js/datatables.js"></script>

  </body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>