<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>新增主机</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/box/css/bootstrap.css" rel="stylesheet">
    <link href="/static/box/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/box/css/stylesheet.css" rel="stylesheet">
    <link href="/static/box/css/index.css" rel="stylesheet">
    <link href="/static/box/icon/font-awesome.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/box/img/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/box/img/apple-touch-icon-114-precomposed.html">
      <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/box/img/apple-touch-icon-72-precomposed.html">
                    <link rel="apple-touch-icon-precomposed" href="/static/box/img/apple-touch-icon-57-precomposed.html">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body  style="background-color:#FFF !important; margin:20px;">

<form class="form-horizontal">
    <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                           <span>
                               <a class="btn" href="{% url 'home' %}">首页</a>
                           </span><span>></span>
                           <span>
                               <a class="btn" href="{% url 'user_management' %}">用户管理</a>
                           </span><span>></span>
                           <span>查看用户信息</span>

                         </div>
</form>
  <!-- Nav tabs -->

  <div class="form-group">
    <label class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ user_ls.username }}</p>
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">创建时间</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ user_ls.created_at }}</p>
    </div>
  </div>








    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="/static/box/js/jquery-1.10.2.js"></script>
    <script src="/static/box/js/jquery-ui-1.10.3.js"></script>
    <script src="/static/box/js/bootstrap.js"></script>

    <script src="/static/box/js/flatpoint_core.js"></script>

  </body>
</html>
